<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <link rel="stylesheet"href="/static/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

    <script src="https://kit.fontawesome.com/73f0dab41b.js" crossorigin="anonymous"></script>
    <title>Joy Mridha</title>
</head>
<body>
    <div class="flip-container centered">
        <div class="flipper">
           <div class="front"></div>
           <div class="back">
              <h1>Joy Mridha</h1>
        <p>Programmer and Developer</p>
           <div class="font-a-icons">
              <div class="icon-group">
                 <span class="bold">Phone: </span><span class="contact">+91 8617747631</span>
              <div class="icon-group">
                  <span class="bold">Email: </span><a class="contact" target="_top">joymridha939@gmail.com</a>
              </div>
           </div>
        </div>   
        <a class="icon-box" href="https://instagram.com/joym_1010?igshid=NzZlODBkYWE4Ng==" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="icon-box" href="https://www.linkedin.com/in/joy-mridha-154363259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="icon-box" href="https://github.com/Joy9001" target="_blank"><i class="fab fa-github"></i></a>
        <a class="icon-box" href="https://discordapp.com/users/1040917005886300200" target="_blank"><i class="fab fa-discord"></i></a>
        <a class="icon-box" href="https://twitter.com/JoyMridha1010" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
           </div>
        </div>
     </div>
</body>
</html>